<html>
    <head>
        <% include components/head %>
    </head>
    <body>
        <% include components/header %>
        <div class='content'>
            <pre id='output'></pre>
            <script>
                var socket = io(),
                    output = document.getElementById('output');
                socket.on('data', function(data){
                    output.appendChild(document.createTextNode(data));
                    output.scrollTop = output.scrollHeight;
                });
            </script>
        </div>
        <% include components/footer %>
    </body>
</html>
