<html>
    <head>
        <% include components/head %>
    </head>
    <body>
        <% include components/header %>
        <div class='content'>
            <span>Welcome, <%=user.username%>!</span>
        </div>
        <% include components/footer %>
    </body>
</html>
