<html>
    <head>
        <% include components/head %>
    </head>
    <body>
        <span>Login failed! Please <a href="/">try again</a>.</span>
        <% include components/footer %>
    </body>
</html>
